<style>
  fieldset{
      border: 1px solid ghostwhite;
      padding: 10px;
      border-radius: 5px;
      margin: 10px;
  }

  .form-error{
      display: none;
  }

  input, select{
      display: inline-block;
      margin-right: 10px !important;
  }
  select{
      margin-right: 5px !important;
  }
  #suggestions td, #suggestions th{
      padding: 5px;
      border-left: 1px solid ghostwhite;
      border-bottom: 1px solid #d3d3d3;
  }
</style>
<script src="/js/jquery.form-validator.min.js"></script>
<table style="width: 100%;">
  <tr>
     <td style="width: 45%" valign="top">
      <div id="form">
      <form enctype="multipart/form-data" id="form-create-role" accept-charset="UTF-8"
            action="<%= @action%>" method="POST"><input type="hidden">

        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <%= hidden_field_tag :client_id, @client.id -%>

        <fieldset>
          <div class="form-group" style="width: 100%;">
            <label style="color: darkgreen" for="type">Client Type</label>
            <select type="text" id="type" name="type" class="form-control" data-validation="required" style="margin-right: 2px;">
              <option></option>
              <%@types.each do |t|%>
                <option value="<%= t.id%>"><%= t.name%></option>
              <% end %>
            </select>
          </div>

          <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" id="first_name" name="first_name" class="form-control" data-validation="required" value="<%= @client.first_name%>">
           </div>

          <% if false %>
              <div class="form-group">
                <label for="middle_name">Middle Name</label>
                <input type="text" id="middle_name" name="middle_name" class="form-control"  value="<%= @client.middle_name%>">
              </div>
          <% end %>

           <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" data-validation="required" value="<%= @client.last_name%>">
          </div>


          <div class="form-group" style="width: 100%;">
            <label for="gender">Gender</label>
            <select style="display: inline-block" onchange="suggest('name_and_gender')" type="text" id="gender" name="gender" class="form-control">
              <option></option>
              <option value="1">Male</option>
              <option value="0">Female</option>
            </select> <span class="glyphicon glyphicon-search"></span>
          </div>

          <div class="form-group">
            <label for="birthdate">Date of Birth</label>
            <input onchange="suggest('name_and_gender_and_birthdate');" type="text" id="birthdate" name="birthdate"
                   class="form-control" data-validation="required" value="<%= (@client.birthdate.strftime('%d-%b-%Y') rescue nil)%>"><span class="glyphicon glyphicon-search"></span>
          </div>


          <div class="form-group">
            <label for="address">Physical Address</label>
            <input type="text" id="address" name="address" class="form-control"  value="<%= @client.address%>">
          </div>

          <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input onchange="suggest('phone_number');" type="text" id="phone_number" name="phone_number" class="form-control"  value="<%= @client.phone_number%>">
            <span class="glyphicon glyphicon-search"></span>
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input onchange="suggest('email');" type="text" id="email" name="email" class="form-control"  value="<%= @client.email%>">
            <span class="glyphicon glyphicon-search"></span>
          </div>

          <div class="form-group">
            <label for="occupation">Occupation</label>
            <input type="text" id="occupation" name="occupation" class="form-control" value="<%= @client.occupation%>">
          </div>

        </fieldset>

        <div class="form-group actions-row" style="padding-right: 52%;">
          <button type="button submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
        </div>

      </form>
    </div>
    </td>
    <td style="width: 55%;" valign="top">
        <div style="width: 100%;color: darkslategray; min-height: 50vh; margin-top: 0px;">
            <table style="width: 100%;font-size: 12px;" id="suggestions">
                <caption style="text-align: center;border-bottom: 1px solid darkred;">
                    <span style="font-size: 14px;" id="suggest_key" >&nbsp;</span>
                </caption>
              <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Occupation</th>
                <th></th>
              </tr>

              <tr id="clone_me" style="display:none;">
                <td class="name"></td>
                <td class="dob"></td>
                <td class="address" ></td>
                <td class="phone_number" ></td>
                <td class="occupation"></td>
                <td><button class="btn btn-sm btn-success" style="padding: 4px;width: 50px;">Select</button></td>
              </tr>
            </table>
        </div>
    </td>
</tr>
</table>

<script>
    function suggest(key){

         var data = {};

        if(key == 'name_and_gender'){
            data = {
                'first_name' : __$('first_name').value,
                'last_name' : __$('last_name').value,
                'gender' : __$('gender').value
            }
        }else if (key == 'phone_number'){
            data = {
                'phone_number' : __$('phone_number').value
            }
        }else if (key == 'email'){
            data = {
                'email' : __$('email').value
            }
        }else if (key == 'name_and_gender_and_birthdate'){
            data = {
                'birthdate' : __$('birthdate').value,
                'gender' : __$('gender').value,
                'first_name' : __$('first_name').value,
                'last_name' : __$('last_name').value
            }
        }

        jQuery.ajax({
            url: "/client/client_suggestions",
            data: {
                'search_params' : data
            },
            success: function(result){
                result = JSON.parse(result);
                $('.temp-row').remove();

                __$("suggest_key").innerHTML = 'Suggested by ' + key.replace(/\_/g, ' ') + ":   " + (result.length == 20 ? " atleast " : "") + result.length + " found."

                for(var i = 0; i < result.length; i++){
                    view(result[i]);
                }
            }
        })
    }

    function view(record){
        var clone = __$('clone_me').cloneNode(true);
        clone.getElementsByClassName('name')[0].innerHTML = record['name'];
        clone.getElementsByClassName('dob')[0].innerHTML = record['dob'];
        clone.getElementsByClassName('address')[0].innerHTML = record['address'];
        clone.getElementsByClassName('phone_number')[0].innerHTML = record['phone_number'];
        clone.getElementsByClassName('occupation')[0].innerHTML = record['occupation'];

        clone.getElementsByClassName('btn')[0].onmousedown = function(){
            window.location = "/client/view?client_id=" + record['client_id'];
        };

        clone.className = "temp-row";
        clone.style.display = 'table-row';
        __$("suggestions").appendChild(clone);
    }

    $.validate({
        onError : function(){

        }
    });

    jQuery(document).ready(function(){
        jQuery("#type option[value='<%=@client.client_type_id%>']").attr('selected', 'selected');

        <% if @action.match(/edit/)%>
        jQuery("#gender option[value='<%= @client.gender%>']").attr('selected', 'selected');
        <% end %>
    })
</script>
