<style>

</style>
<div>
  <ol class="breadcrumb " style="margin: 3px; padding: 5px;">
    <li><a href="/">Home</a></li>
    <li><a href="/client/index">Clients</a></li>
    <li><a class='active' href="/client/view?client_id=<%=@client.id%>">View Client</a></li>
  </ol>
</div>
<div class="panel panel-primary">
    <div class="panel-heading ">
      <span class="glyphicon glyphicon-eye-open"></span>
      <b>View Client</b>
      <div class="panel-btn">
        <a class="btn btn-sm btn-info" href="/client/edit?client_id=<%=@client.id%>">
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        </a>
      </div>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4" style="border-right: 1px solid lightblue;">
            <%= render :partial => "client/patient_card"%>
          </div>

          <div class="col-md-8" style="padding: 0px;">
            <div class="col-md-8">
              <% (@modules || []).each do |mod, val|%>
                <button type="button" onclick="window.location = '/module/view_module?client_id=<%= params[:client_id]%>&module=<%= mod%>'"
                     class="btn btn-default pull-left module-btn" style="width: 27%;margin: 10px; padding: 10px; font-size: 1.2em;background: #f8f8ff;"><%=mod%> <br />
                    <span class="badge" style="background: #2e6da4;"><%= val%></span>
                </button>
              <% end %>
              </div>
              <div class="col-md-4">
                <ul class="list-group">
                  <% (@common_encounters || []).each do |name, link|%>
                  <li class="list-group-item encounter-btn btn-sm" style=" cursor: pointer;"><%= name%></li>
                  <% end %>
                </ul>
              </div>
            </div>
        </div>

        <%= render :partial => "encounter/patient_trail"%>
      </div>
    </div>
</div>
