

<div>
  <ol class="breadcrumb " style="margin: 3px; padding: 5px;">
    <li><a href="/">Home</a></li>
    <li><a href="/client/client_types">Client Types</a></li>
    <li><a class='active' href="/client/view_type?type_id=<%=@client_type.id%>">View Client Type</a></li>
  </ol>
</div>
<div class="panel panel-primary">
    <div class="panel-heading ">
      <span class="glyphicon glyphicon-eye-open"></span>
      <b>View Client Type</b>
      <div class="panel-btn">
        <a class="btn btn-sm btn-info" href="/client/edit_type?type_id=<%=@client_type.id%>">
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        </a>
      </div>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="display-details">
              <h3><strong>Name</strong><%= @client_type.name%></h3>
              <p><strong>Description</strong><%=@client_type.description%></p>
              <p><strong>Date Created</strong><%=@client_type.created_at.strftime("%d/%b/%Y")%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
