<style>
  .status{
      color: #008000;
  }
  .disabled .status {
      background-color: #d59392;
      color: #000;
  }
</style>

<div>
  <ol class="breadcrumb " style="margin: 3px; padding: 5px;">
    <li><a href="/">Home</a></li>
    <li><a class='active' href="/user/index">Users</a></li>
  </ol>
</div>
<div class="panel panel-primary">
    <div class="panel-heading ">
      <span class="glyphicon glyphicon-user"></span>
      <b>List Users</b>
      <div class="panel-btn">
        <a class="btn btn-sm btn-info" href="/user/new">
          <span class="glyphicon glyphicon-plus-sign"></span>
          New User
        </a>
      </div>
    </div>
    <div class="panel-body">

        <table style="width: 100%;" class="data-table table table-condensed table-striped">
            <thead>
            <tr role="row">
              <th>Username</th>
              <th>Name</th>
              <th>E-mail</th>
              <th>Sex</th>
              <th>Designation</th>
              <th>Status</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
        <tbody>
        <% @users.each do |u|%>
            <% if u.deleted_at.present? %>
                <tr class="odd disabled" role="row" >
            <% else %>
                <tr class="odd" role="row" >
            <% end %>

              <td class="sorting_1"><%= u.username%></td>
              <td><%= u.name%></td>
              <td><%= u.email%></td>
              <td><%= u.sex%></td>
              <td><%= u.designation%></td>
              <td class="status"><%= u.deleted_at.present? ? 'Blocked' : 'Active'%></td>
              <td>

                <!-- delete this user (uses the delete method found at GET /user/{id}/delete -->
                <% if u.deleted_at.blank? %>
                    <button class="btn btn-sm btn-danger delete-item-link " data-toggle="modal" data-target=".confirm-delete-modal"
                            onclick="deletes('/user/delete?user_id=<%= u.id%>')">
                      <span class="glyphicon glyphicon-trash"></span>
                      Block
                    </button>
                <%else %>
                    <button class="btn btn-sm btn-danger delete-item-link " data-toggle="modal" data-target=".confirm-delete-modal"
                            onclick="deletes('/user/delete?user_id=<%= u.id%>')">
                      <span class="glyphicon glyphicon-trash"></span>
                      Unblock
                    </button>
                <% end %>

                <!-- edit this user (uses the edit method found at GET /user/{id}/edit -->
                <a class="btn btn-sm btn-info" href="/user/edit?user_id=<%=u.id%>">
                  <span class="glyphicon glyphicon-edit"></span>
                  Edit
                </a>

                <!-- show the user (uses the show method found at GET /user/{id} -->
                <a class="btn btn-sm btn-success" href="/user/view?user_id=<%=u.id%>">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  View
                </a>

              </td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="printerModalLabel" style="text-align: left;">
            Are you sure you want to proceed?
        </h4>
      </div>
      <div class="modal-body">
        <span style="text-align:center;">

        </span>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
          <button type="button" class="btn btn-primary" onclick="doDelete()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('.data-table').DataTable({
            responsive: true
        });
    });

   function deletes(link){
       __$('modal').setAttribute('link', link)
       $('#modal').modal('show');
   }

   function doDelete(){
       window.location = __$('modal').getAttribute('link');
   }

</script>