

<div>
  <ol class="breadcrumb " style="margin: 3px; padding: 5px;">
    <li><a href="/">Home</a></li>
    <li><a href="/user/index">Users</a></li>
    <li><a class='active' href="/user/view?user_id=<%=@user.id%>">View User</a></li>
  </ol>
</div>
<div class="panel panel-primary">
    <div class="panel-heading ">
      <span class="glyphicon glyphicon-user"></span>
      <b>View User</b>
      <div class="panel-btn">
        <% if @cur_user.id.to_s == params[:user_id]%>
            <a class="btn btn-sm btn-info" href="/user/change_password?user_id=<%=@user.id%>">
              <span class="glyphicon glyphicon-plus-sign"></span>
              Change Own Password
            </a>
        <% end %>

        <a class="btn btn-sm btn-info" href="/user/edit?user_id=<%=@user.id%>">
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        </a>
      </div>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="display-details">
              <h3><strong>Full Name</strong><%= @user.name%></h3>
              <p><strong>Username</strong><%=@user.username%></p>
              <p><strong>E-mail Address</strong><%=@user.email%></p>
              <p><strong>Designation</strong><%=@user.designation%></p>
              <p><strong>Sex</strong><%=@user.sex%></p>
              <p><strong>Registration Date</strong><%=@user.created_at.strftime("%d/%b/%Y")%></p>
            </div>
          </div>
          <div class="col-md-6">
            <img alt="No photo available" src="<%=@user.image%>" class="img-responsive img-thumbnail user-image">
          </div>
        </div>
      </div>
    </div>
</div>
