<style>
  .status{
      color: #008000;
  }
  .disabled .status {
      background-color: #d59392;
      color: #000;
  }
</style>

<div>
  <ol class="breadcrumb " style="margin: 3px; padding: 5px;">
    <li><a href="/">Home</a></li>
    <li><a class='active' href="/location/index">Locations</a></li>
  </ol>
</div>
<div class="panel panel-primary">
    <div class="panel-heading ">
      <span class="glyphicon glyphicon-user"></span>
      <b>List Locations</b>
      <div class="panel-btn">
        <a class="btn btn-sm btn-info" href="/location/new">
          <span class="glyphicon glyphicon-plus-sign"></span>
          New Location
        </a>
      </div>
    </div>
    <div class="panel-body">

        <table style="width: 100%;" class="data-table table table-condensed table-striped">
            <thead>
            <tr role="row">
              <th>Name</th>
              <th>Code</th>
              <th>Type(s)</th>
              <th>Description</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
        <tbody>
        <% @locations.each do |l|%>

            <tr class="odd" role="row" >

              <td class="sorting_1"><%= l.name%></td>
              <td><%= l.code%></td>
              <td><%= l.tags.map(&:name).join(', ')%></td>
              <td><%= l.description%></td>
              <td>

                <!-- show the user (uses the show method found at GET /user/{id} -->
                <a class="btn btn-sm btn-success" href="/location/view?location_id=<%=l.id%>">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  View
                </a>

                <!-- edit this user (uses the edit method found at GET /user/{id}/edit -->
                <a class="btn btn-sm btn-info" href="/location/edit?location_id=<%=l.id%>">
                  <span class="glyphicon glyphicon-edit"></span>
                  Edit
                </a>
                <!-- delete this user (uses the delete method found at GET /user/{id}/delete -->

                <button class="btn btn-sm btn-danger delete-item-link " data-toggle="modal" data-target=".confirm-delete-modal"
                        onclick="deletes('/location/delete?location_id=<%= l.id%>')">
                  <span class="glyphicon glyphicon-trash"></span>
                  Delete
                </button>

              </td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="printerModalLabel" style="text-align: left;">
            Are you sure you want to proceed?
        </h4>
      </div>
      <div class="modal-body">
        <span style="text-align:center;">

        </span>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
          <button type="button" class="btn btn-primary" onclick="doDelete()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('.data-table').DataTable({
            responsive: true
        });
    });

   function deletes(link){
       __$('modal').setAttribute('link', link)
       $('#modal').modal('show');
   }

   function doDelete(){
       window.location = __$('modal').getAttribute('link');
   }

</script>