<div class="panel panel-success">
  <div class="panel-heading " style="padding: 10px;">
    <b>Department</b>
  </div>

  <div class="panel-body">

        <script src="/js/jquery.form-validator.min.js"></script>

          <form enctype="multipart/form-data" id="form-create-user" accept-charset="UTF-8"
                action="<%= request.path%>" method="POST"><input type="hidden">

            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

            <%= hidden_field_tag :id, @department.id -%>

            <div class="form-group">
              <label for="username">Lab Department Name</label>
              <input type="text" id="name" name="name" class="form-control" value="<%= @department.name%>"
                      data-validation="required length"  data-validation-length="min2">
            </div>

            <div class="form-group">
              <label for="last_name">Description</label>
              <input type="text" id="description" name="description" class="form-control" value="<%= @department.description%>">
            </div>

            <div class="form-group actions-row">
              <button type="button submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
            </div>

          </form>
    </div>
  </div>

<script>
    $.validate({
        modules : 'security',
        onError : function(){

        }
    });

</script>
